html,body{
    height: 100%;
}
body{
    background: #eeeeee;
    /*background: #ffffff;*/
}

.loginContainer{
    margin-top: 8%;
}
.loginContainer input{
    width: 30%;
    margin-bottom: 20px;
}
.loginContainer h1{
    margin-bottom: 20px;
    font-weight: 800;
}
.loginContainer a{
    cursor: pointer;
}
.loginContainer button{
    width: 186px;
    margin-bottom: 20px;
 }

.blogs .box{
    margin-left: 20%;
    background: rgba(224, 224, 224, 0);
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(139, 139, 139, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.33);
    text-align: center;
    padding: 0px 0px;
    margin-bottom: 40px;
}

.blogs .box p , .blogs .box h3{
    padding-left: 10%;
    padding-right: 20px;
}
.blogs .box p{
    padding-bottom: 10px;
    text-align: justify;
    white-space: pre-line;
}

.blogs .box img{
    height: 200px;
}

.blogs  a{
    text-decoration: none;
}
.blogs .box .edit_button{
    margin: 5px 0px;
}
.blogs .box .edit_button a{
    margin: 5px;
    padding: 10px 15px;
}
.navbar{
    border-radius:0px ;
    padding: 0 10px;
}


.create_blogs .page-header{
    border-bottom: 1px solid #b90202;
}

.create_blogs div{
    margin-bottom: 15px;
}
.create_blogs textarea{
    height: 200px;
}

.rss_feed .page-header{
    border-bottom: 1px solid #b90202;
}

/*ERROR Page*/
.error_page{
    background-color: gainsboro;
    border-radius:50% ;
    width: 50%;
}
.error_page .row{
    margin-top: 40px;
}
.error_page .row:last-child{
    margin-bottom: 52px;
}
.error_page #remove_icon{
    font-size: 120px;
    color: rgb(132, 0, 0);
    vertical-align: middle;

}

.error_page h1,.error_page h3{
    font-weight: 600;
    color: rgb(132, 0, 0);
    text-transform: capitalize;

}
.error_page h1{
    text-transform:uppercase;
}

.navbar #rss_icon{
    font-size: 20px;
    background-color: #ec9a0c;
    border-radius: 8%;
    margin-left: 10px;
}
.navbar #rss_icon .fa-rss{
    color: #FFF;

}